<div class="header-form">
  <%= simple_form_for @gif do |f| %>
    <%= f.input :tag %>
    <%= f.input :url %>
    <%= f.input :description %>
    <div class="actions">
      <%= f.submit :Submit, class: "btn btn-success" %>
    </div>
  <% end %>
</div>
