<div class="gifsIndexWrapper">
  <%= link_to "Add A GIF", new_gif_path, id: "add-gif", class: "btn btn-success" %>
  <br>
  <br>
  <div class="row">
    <% @gifs.each do |gif| %>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="<%= gif.url %>">
      </a>
      <div class="center">
        <h3 class="gif-tag-url"><%= link_to gif.tag, gif %></h3>
        <p class="gif-text">Link:  <input class="gif-url" type="text" value="<%= gif.url %>" data-copy="true"></p>
        <p class="gif-text"><%= time_ago_in_words(gif.created_at) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
